<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 8 No 2</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>
            {{ 'Nilai a : ' + a}}
        </h1>
        <h2>
            {{ 'Nilai Rata - Rata : ' + r}}
        </h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                r: 0,
                b: 0,
                c: 0,
            },
            methods: {
                openForm: function () {
                    while (this.a <= 10) {
                        this.b = prompt("Masukkan nilai a")
                        this.c = Number(this.c) + 1
                        this.a = Number(this.a) + Number(this.b)
                    }
                    this.r = Number(this.a) / Number(this.c)
                }
            }
        })
    </script>
</body>

</html>