<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tugas 12</title>
</head>

<body class="bg-light">
    <div id="app">
        <div class="container">
            <div class="py-3">
                <h1 v-if="buttonStatus == 'submit'">Input Members</h1>
                <h1 v-else-if="buttonStatus == 'update'">Edit Members</h1>
                <h1 v-else-if="buttonStatus == 'upload'">Upload Photo Members</h1>
            </div>
            <form @submit.prevent="submitForm()">
                <div class="mb-3">
                    <label class="form-label">Nama : </label>
                    <input type="text" class="form-control" :disabled="buttonStatus == 'upload'" name="name" ref="name"
                        v-model="name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Alamat : </label>
                    <textarea class="form-control" name="address" :disabled="buttonStatus == 'upload'" ref="address"
                        v-model="address" style="height: 100px"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">No Hp : </label>
                    <input class="form-control" type="number" :disabled="buttonStatus == 'upload'" name="no_hp"
                        ref="no_hp" v-model="no_hp">
                </div>
                <div v-if="buttonStatus == 'submit'">
                    <input class="btn btn-primary" type="submit" value="SUBMIT">
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <input class="btn btn-primary" type="button" value="UPDATE" @click="updateMembers(idEdit)">
                    <input class="btn btn-secondary" type="button" value="CANCEL" @click="clearForm">
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <input class="form-control" type="file" name="photo" ref="photo">
                    <div>
                        <input class="btn btn-primary" type="button" value="UPDATE" @click="submitPhoto(idEdit)">
                        <input class="btn btn-secondary" type="button" value="CANCEL" @click="clearForm">
                    </div>
                </div>
            </form>
        </div>
        <br>
        <members_component :members="members" :domain="photoDomain" @edit='editMembers' @delete='deleteMembers'
            @upload='uploadPhoto'>
        </members_component>

    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src=" https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        const MembersComponent = {
            template:
                `
            <div class="container">
                <h2>Members Data</h2>
                <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Alamat</th>
                            <th>No HP</th>
                            <th>Foto</th>
                            <th>Atur</th>
                        </tr>
                        <tr v-for="member of members">
                            <td>{{ member.id }}</td>
                            <td>{{ member.name }}</td>
                            <td>{{ member.address }}</td>
                            <td>{{ member.no_hp }}</td>
                            <td>
                                <img width="100" :src="member.photo_profile ? domain + member.photo_profile :
                                'https://dummyimage.com/600x400/000/fff&text=dummy'" alt="">
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary" @click="$emit('edit', member)">Edit</button>
                                    <button class="btn btn-danger" @click="$emit('delete', member.id)">Hapus</button>
                                    <button class="btn btn-info" @click="$upload('upload',member)">Upload Foto</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                `,
            props: ['members', 'domain']
        }
        const vm = new Vue({
            el: '#app',
            components: {
                'members_component': MembersComponent
            },
            data: {
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                errors: [],
                name: '',
                address: '',
                no_hp: '',
                photo_profile: '',
                deleteMembers: "",
                buttonStatus: 'submit',
                noww: new Date().toLocaleString(),
                idEdit: null,
            },
            methods: {
                validationForm: function () {
                    this.errors = []
                    if (this.name.length < 5) {
                        this.errors.push('Nama minimal 5 karakter')
                        alert('Nama minimal 5 karakter')
                        this.$refs.name.focus()
                    }
                    else if (this.address.length < 5) {
                        this.errors.push('Alamat minimal 5 karakter')
                        alert('Alamat minimal 5 karakter')
                        this.$refs.address.focus()
                    }
                    else if (this.no_hp.length < 5) {
                        this.errors.push('No HP minimal 5 karakter')
                        alert('No HP minimal 5 karakter')
                        this.$refs.no_hp.focus()
                    }
                },
                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.idEdit = null
                    this.buttonStatus = 'submit'
                },
                submitForm: function () {
                    this.validationForm()
                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            });
                    }
                },
                editMembers: function (member) {
                    this.idEdit = member.id
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                },
                updateMembers: function (id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method: "PUT" },
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            });
                    }
                },
                uploadPhoto: function (member) {
                    this.idEdit = member.id
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = "upload"
                },
                submitPhoto: function (id) {
                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        });
                },
                removeMembers: function (id) {
                    deleteMembers = confirm("Hapus User ini? ")
                    if (deleteMembers) {
                        const config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method: "DELETE" },
                        }
                        axios(config)
                            .then((response) => {
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            });
                    }
                },
                getMembers: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                            console.log(this.members)
                            console.log(this.noww)
                        })
                        .catch((error) => {
                            console.log(error)
                        });
                },
            },
            created() {
                this.getMembers()
            }

        })
    </script>
</body>

</html>