<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tugas 12</title>
</head>

<body class="bg-light">
    <div id="app">
        <div class="container">
            <div class="py-3">
                <h1 v-if="buttonStatus == 'submit'">Input Members</h1>
                <h1 v-else-if="buttonStatus == 'update'">Edit Members</h1>
                <h1 v-else-if="buttonStatus == 'upload'">Upload Photo Members</h1>
            </div>
            <form @submit.prevent="submitForm()">
                <div class="mb-3">
                    <label class="form-label">Nama : </label>
                    <input type="text" class="form-control" :disabled="buttonStatus == 'upload'" name="name" ref="name"
                        v-model="name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Alamat : </label>
                    <textarea class="form-control" name="address" :disabled="buttonStatus == 'upload'" ref="address"
                        v-model="address" style="height: 100px"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">No Hp : </label>
                    <input class="form-control" type="number" :disabled="buttonStatus == 'upload'" name="no_hp"
                        ref="no_hp" v-model="no_hp">
                </div>
                <div v-if="buttonStatus == 'submit'">
                    <input class="btn btn-primary" type="submit" value="SUBMIT">
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <input class="btn btn-primary" type="button" value="UPDATE" @click="updateMembers(idEdit)">
                    <input class="btn btn-secondary" type="button" value="CANCEL" @click="clearForm">
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <input class="form-control" type="file" name="photo" ref="photo">
                    <div>
                        <input class="btn btn-primary" type="button" value="UPDATE" @click="submitPhoto(idEdit)">
                        <input class="btn btn-secondary" type="button" value="CANCEL" @click="clearForm">
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="container">
            <h2>Data Members</h2>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>No HP</th>
                    <th>Foto</th>
                    <th>Atur</th>
                </tr>
                <tr v-for="member of members">
                    <td>{{ member.id }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.no_hp }}</td>
                    <td>
                        <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile :
                        'https://dummyimage.com/600x400/000/fff&text=dummy'" alt="">
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-primary" @click="editMembers(member)">Edit</button>
                            <button class="btn btn-danger" @click="removeMembers(member.id)">Hapus</button>
                            <button class="btn btn-info" @click="uploadPhoto(member)">Upload Foto</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src=" https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>