<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 8 No 1</title>
</head>

<body>
    <div id="app">
        <input v-if='goUpdate' type="text" placeholder="user name" v-model:value="user">
        <input v-else='goUpdate' type="text" v-model:value="user">
        <button v-if='goUpdate' @click="addUsers">Add</button>
        <button v-else='goUpdate' @click="updUsers">Update</button>
        <ul>
            <li v-for="(item,index) in users">
                {{ item.name }} ||
                <button @click="delUsers(index,item.name)">Delete
                </button> ||
                <button @click="goUpdate = false,user = item.name, goIndex = index">Update
                </button>
            </li>
        </ul>
    </div>

    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                user: "",
                deleteUsers: "",
                goUpdate: true,
                goIndex: 0,
                users: [
                    { 'name': "Muhamad Iqbal Mubarok" },
                    { 'name': "Ruby Purwanti" },
                    { 'name': "Faqih Muhammad" },
                ]
            },
            methods: {
                addUsers: function () {
                    if (this.user.length == 0) {
                        alert("No Data !")
                    } else {
                        this.users.push({ 'name': this.user })
                        this.user = ""
                    }
                },
                delUsers: function (index, user) {
                    deleteUsers = confirm("Delete this User? " + user)
                    if (deleteUsers) {
                        this.users.splice(index, 1)
                    }
                },
                updUsers: function () {
                    this.users[this.goIndex].name = this.user
                    this.goIndex = 0
                    this.goUpdate = true
                    this.user = ""
                },
            }
        })
    </script>
</body>

</html>