<template>
  <v-col md="6" sm="6" cols="12">
    <v-card :to="'/blog/' + blog.id">
      <v-img
        :src="
          blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'
        "
        height="250"
      />
      <v-card-title v-text="blog.title"></v-card-title>
      <v-card-text>
        <span>{{ blog.title.substring(0, 15) }}...</span>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  data: () => ({
    apiDomain: "http://demo-api-vue.sanbercloud.com/",
  }),
  props: ["blog"],
};
</script>