<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 9 10</title>
</head>

<body>
    <div id="app">
        <div>
            <label>Cari Buku </label>
            <input type="text" v-model="search">
        </div>
        <li v-for="books in searchlist">
            {{ books }}
        </li>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            computed: {
                searchlist() {
                    return this.books.filter(books => {
                        return books.toLowerCase().includes(this.search.toLowerCase())
                    })
                }
            }
        })
    </script>
</body>

</html>