<template>
  <layout-content>
    <router-view> </router-view>
  </layout-content>
</template>

<script>
import LayoutContent from "@/layouts/Content.vue";
export default {
  components: {
    "layout-content": LayoutContent,
  },
  name: "App",

  data: () => ({
    drawer: false,
    menus: [
      { title: "home", icon: "mdi-home", route: "/" },
      { title: "blogs", icon: "mdi-note", route: "/blogs" },
    ],
    guest: false,
    snackbarStatus: true,
    snackbarText: "Anda berhasil menampilkan alert",
  }),
  mounted() {
    this.snackbarStatus = true;
  },
};
</script>
